* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Utility classes */


.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
}

.text-primary {
    color: white;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #33312a;
}

/* Header */

#title {
    margin: 1rem;
    padding: 2rem 1rem;
    border: red 1px solid;
}

/* Section - Game */

#game {
    height: 80vh;
}

.player-choice {
    width: 100%;
}

.selection:hover {
    cursor: pointer;
    border: red 3px solid;
}

.player-choice > div {
    border: red 1px solid;
    padding: 2rem;
}

.computer-choice {
    border: 1px red solid;
    width: 100%;
}

#result {
    width: 100%;
    border: 1px red solid;
}