@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Utility classes */

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.text-primary {
    color: #33312a;
}

.text-secondary {
    color: #fcad03;
    
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #33312a;
}


/* Header */

#title {
    padding: 2rem 1rem;
    border-bottom: #fcad03 6px solid;
    background-color: white;
}

#title-icons {
    margin-top: 1rem;
}

#title-icons > i {
    font-size: 2rem;
    padding: 0 1rem;
}



/* Section - Game */

#game {
    height: 80vh;
}

.player-choice {
    width: 100%;
}


.selection:hover {
    cursor: pointer;
    border: #fcad03 3px solid;
}

.player-choice > div {
    border: #fcad03 1px solid;
    border-radius: 5px;
    padding: 2rem 1rem;
    min-width: 200px;
}

/* Round */

.round {
    border: white 3px solid;
    padding: 1.5rem;
    border-radius: 50%;
    justify-content: space-between;
}


.round p {
    font-size: 1.5rem;
    font-weight: weight;
}

.round div {
    height: 2px;
    border: red 1px solid;
    width: 100%;
}

/* Computer Choice */

.computer-choice {
    border: 1px red solid;
    width: 100%;
    order: -1; 
}

/* Choice */

#result {
    width: 100%;
    border: 1px red solid;
}